@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* font-family: "Helvetica Neue"; */
}

:root {
    --purple: #74369f;
    --gray: #e0dede;
}

/* page */

.page__header {
    width: 100%;
}

.page__container {
    max-width: 960px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.page__main {
    padding-top: 1.5em;
    padding-bottom: 2em;
}

/* page end */

/* header */ 
.header {
    padding: 1.25em 0;
    border-bottom: 1px solid #eeb6e5;
}

.header__container {
    display: flex;
    align-items: center;
    height: 100%;
}

/* header end */

/* combined-shape */
.combined-shape {
    margin-right: 0.5em; 
    width: 1.6em; 
    position: relative;
}

.combined-shape__line {
    display: inline-block;
    width: 1px;
    height: 2.25em;
    background-color: #d135aa;
    transform: rotate(35deg) translateX(0.9em);
}

.combined-shape::before {
    content: "\003c";
}

.combined-shape::after {
    content: "\003e";
    right: 0%;
}

.combined-shape::before, .combined-shape::after {
    color: #d135aa;
    font-size: 1em;
    position: absolute;
    top: 30%;
}
/* combined-shape end */

/* test-task */

.test-task {
    color: #5a1094;
    font-family: inherit;
}
/* test-task end */

/* cart */
.cart {
    display: block;
    text-decoration: none;
    margin-left: auto;
    position: relative;
    width: 4.5em;
    line-height: 2.4em;
    color: #ff2b81;
    font-size: 0.9em;
}
.cart__amount {
    display: inline-block;
    line-height: 1em;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: #ff2b81;
    font-size: 0.9em;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.cart__amount::after {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    top: 50%;
    right: 0%;
    height: 1.5em;
    width:2.5em;
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
}
/* cart end */

/* breadcrimbs */

.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 0.85em;
}

.breadcrumbs__item {
    text-decoration: none;
    color: var(--gray);
    padding-right: 1.6rem;
}


.breadcrumbs__item--active {
    color: var(--purple);
}

.breadcrumbs__item--before {
    text-decoration: underline;
}

.breadcrumbs__item--shipping::after, .breadcrumbs__item--billing::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 0.3em;
    margin-left: 0.8em;
    height: 1rem;
    width: 1rem;
    border-top: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    transform: rotate(45deg);
}

/* form */

.form__section {
    display: none;
}

.form__section--shipping {
    display: block;
}

.form__header, .form__subheader {
    color: var(--purple);
}

.form__header {
    margin: 0.4em 0 0 0;
}

.form__subheader {
    font-size: 1rem;
    padding: 1.8em 0 0.8em  0;
    margin: 0;
}

.form__input--Visa {
    background-image: url("../img/visa.svg");
    background-position: right center;
    background-repeat: no-repeat;
}

.form__input--Mastercard {
    background-image: url("../img/mastercard.svg");
    background-position: right center;
    background-repeat: no-repeat;
}

.form__input {
    border: 1px solid var(--gray);
    height: 3rem;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding-left: 0.5em;
}

.form__input--error-shadow {
    box-shadow: 0 -0.2em 0.2em var(--gray);
}

.form__input--error-background {
    background-color: rgb(228, 228, 100);
}

.form__input--zip-shipping, 
.form__input--zip-billing {
    width: 100%;
}

.form__note {
    margin-left: 5%;
    width: 25%;
    font-size: 80%;
    color: var(--gray);
    display: inline-block;
}

.form__button {
    margin-top: 1.5em;
    height: 3em; 
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    color: white;
    background-color: var(--purple);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;

}

/* form end */

/* wrapper */ 

.wrapper {
    position: relative;
}

.wrapper__name-shipping,
.wrapper__name-billing,
.wrapper__street-shipping,
.wrapper__street-billing {
    margin-bottom: 0.8em;
}

.wrapper__city-shipping,
.wrapper__city-billing {
    margin: 1.5em 0;
}

.wrapper__phone, .wrapper__country-shipping, 
.wrapper__country-billing {
    width: 50%;
    display: inline-block;

}

.wrapper__zip-shipping,
.wrapper__zip-billing {
    width: 40%;
    display: inline-block;
    margin-left: 10%;
}
/* wrapper end */


/* error */

.error {
    display: inline-block;
    margin-left: -0.6em;
    color: red;
    font-size: 75%;
    position: absolute;
    bottom: 3.3rem;
}

.active {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 0.5em 0.5em;
    background-color: white;
    box-shadow: 0 0 0.6em var(--gray);
}

.active::after {
    content: '';
    display: block;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 1.5em;
    border-bottom: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    transform: rotate(45deg) translateY(-50%);
    background-color: white;

}

/* error end */

/* geolocation */
.geolocation {
    display: inline-block;
    position: absolute;
    background: url('../img/geolocation.png') no-repeat 50% 50%;
    width: 2em;
    height: 2em;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}
/* geolocation end */