.form__section {
    display: none;
}

.form__section--shipping {
    display: block;
}

.form__header, .form__subheader {
    color: var(--purple);
}

.form__header {
    margin: 0.4em 0 0 0;
}

.form__subheader {
    font-size: 1rem;
    padding: 1.8em 0 0.8em  0;
    margin: 0;
}

.form__note {
    margin-left: 5%;
    width: 25%;
    font-size: 80%;
    color: var(--gray);
    display: inline-block;
}

.form__button {
    margin-top: 1.5em;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    color: white;
    background-color: var(--purple);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;

}

.form__field--name-shipping,
.form__field--name-billing,
.form__field--street-shipping,
.form__field--street-billing {
    margin-bottom: 0.8em;
}

.form__field--city-shipping,
.form__field--city-billing {
    margin: 1.5em 0;
}

.form__field--phone, .form__field--country-shipping, 
.form__field--country-billing {
    width: 50%;
    display: inline-block;

}

.form__field--zip-shipping,
.form__field--zip-billing {
    width: 40%;
    display: inline-block;
    margin-left: 10%;
}

.form__secure-payment {
    font-size: 90%;
    color: grey;
    margin: 1em 0 1em 1.5em;
}

@media (min-width: 32em) {
    .form {
        width: 28em;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em 2em 2.3em 2em;
        border: 1px solid var(--gray);
        border-radius: 5px;
        box-shadow: 0 0 18px var(--gray);
    }

}