.header {
    padding: 1.25em 0;
    border-bottom: 1px solid #eeb6e5;
}

.header__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.test-task {
    color: #5a1094;
    font-family: inherit;
}