.header {
    padding: 1.25em 0;
    border-bottom: 1px solid #eeb6e5;
    background-color: white;
}

.header__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__test-task {
    color: #5a1094;
    font-family: inherit;
    flex-shrink: 2;
}

.header__cart {
    margin-left: auto;
    width: 4.5em;
}