.page__header {
    width: 100%;
}

.page__container {
    max-width: 960px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.page__main {
    padding-top: 1.5em;
    padding-bottom: 2em;
}