.cart {
    display: block;
    text-decoration: none;
    position: relative;
    line-height: 2.2em;
    color: #ff2b81;
    font-size: 0.9em;
}
.cart__amount {
    display: inline-block;
    line-height: 1em;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: #ff2b81;
    font-size: 0.9em;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.cart::after {
    content: "";
    display: block;
    position: absolute;
    top: 30%;
    right: 0%;
    height: 1.5em;
    width: 2em;
    background-image: url('../../img/cart.png');
    background-repeat: no-repeat;
}