.combined-shape {
    margin-right: 0.5em; 
    width: 2em; 
    height: 2.25em;
    position: relative;
    text-align: center;
}

.combined-shape__line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #d135aa;
    transform: rotate(45deg);
}

.combined-shape::before {
    content: "\003c";
    left: 0;
}

.combined-shape::after {
    content: "\003e";
    right: 0;
}

.combined-shape::before, .combined-shape::after {
    color: #d135aa;
    font-size: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}