.geolocation {
    display: inline-block;
    position: absolute;
    background: url('../../img/geolocation.png') no-repeat 50% 50%;
    width: 2em;
    height: 2em;
    right: 0.4em;
    top: 0.4em;
    cursor: pointer;
}